
body {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
}

#queryNav {
    top: 13.5%;
    position: fixed;
    z-index: 1;
    visibility: hidden;
    width: 100%;
}

#queryLinks {
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.navLinks2 {
    text-decoration: none;
    border-radius: 2px;
    background-color: white;
    border: 1px solid rgba(65, 147, 224, 0.833);
    color: rgba(65, 147, 224, 0.833);
    text-align: center;
}

#nav {
    position: fixed;
    display: flex;
    top: 0%;
    width: 100%;
    align-items: flex-end;
    background: rgba(255, 255, 255, 0.836);
    height: 18vh;
    border-bottom: 1.8px inset rgba(65, 147, 224, 0.833);
    z-index: 1;
}

#logoHolder {
    height: 100%;
}

#logo {
    height: 90%;
    width: 100%;
    margin-left: 12%;
}

.linksHolder {
    text-align: center;
    border-bottom: 1.4px inset rgba(65, 147, 224, 0.833);
    margin-left: .7%;
    transition: .5s;
}

.linksHolder:hover {
    transform: scale(1.1);
    border-radius: 7px;
    border-bottom: 3px inset rgba(65, 147, 224, 0.833);
}

.navLinks {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(65, 147, 224, 0.833);
    text-decoration: none;
    transition: 0.5s;
}

#open {
    width: 100%;
    height: 75vh;
    position: relative;
    margin-top: 9%;
    display: flex;
    align-items: center;
    border-bottom: 2px inset rgba(65, 147, 224, 0.833);
    z-index: -1;
}

#openImg {
    height: 100%;
    width: 100%;
    opacity: .8;
}

#openHeader {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    left: 2%;
    height: 90%;
    width: 100%;
    font-size: 28px;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.619);
}

.openText {
    background-color: rgba(255, 235, 205, 0.371);
    border-radius: 2px;
    padding: 2px;
    height: 30%;
    width: 35%;
    border-radius: 1px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

span{
    color: rgba(65, 147, 224, 0.833);
}

#furnitures2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%;
}

.card{
    position: relative;
    margin-left: 3.1%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    width: 21%;
    height: 80vh;
    border: 1px solid rgba(65, 147, 224, 0.833);
    color: rgba(0, 0, 0, 0.836);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.767);
    border-radius:2px 12px 2px 12px ;
    transition: .5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* z-index: 0; */
}

.card:hover{
    transform: scale(1.02);
    filter: brightness(115%);
}

.chnagePic{
    border: 0px ;
    background-color: white;
    color: rgba(0, 0, 0, 0.829);
    cursor: pointer;
}


.chnagePic1{
    border: 0px ;
    background-color: white;
    color: rgba(0, 0, 0, 0.829);
    cursor: pointer;
}

.furInfo{  
    height: 50%;
    width: 100%;
}

.picHolder{
    position: relative;
    width: 100%;
    height: 50%;
}

.cardPic{
    position: absolute;
    display: flex;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1.5px solid rgba(65, 147, 224, 0.833);
    border-radius:2px 12px 2px 0px ;
    transition: 2.5s;
}

.firstPic{
    opacity: 1;
    height: 100%;
    width: 100%;
}

.secondPic{
    opacity: 0;
    height: 100%;
    width: 100%;
}

.cardText{
    margin-left: 4%;
    height: 8%;
}

.btn{
    border-radius: 8px;
    font-size:32px;
    width: 15%;
    border: 2px inset rgba(21, 100, 173, 0.833);
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    color: rgba(21, 100, 173, 0.833);
    margin-bottom: -5px;
    cursor: pointer;
}

#upDoc{
    visibility:hidden;
    padding: 5px;
    position: fixed;
    border: 2px inset grey;
    border-radius:8px ;
    display: flex;
    width: 70%;
    height: 70%;
    background-color: white;
    top: 22%;
    left: 15%;
    justify-content: space-between;
    z-index: 1;
}

#footer{
    margin-top: 5%;
    border-top: 1px solid black;
    text-align: center;
}

@media screen and (max-width:1024px) {
    #open {
        margin-top: 20%;
    }
    #openHeader {
        font-size: 20px;
    }
    .card {
        width: 28%;
        height: 40vh;
    }
    #upDoc{
        margin-top: 10%;
        height: 50%;
    }
    #logo{
        width: 80%;
        margin-left: 15%;
    }
    .linksHolder{
        margin-left: 1%;
    }
    .openText{
        height: 15%;
    }
}

@media screen and (max-width:768px) {
    #nav {
        height: 12vh;
    }
    #open {
        margin-top: 13%;
    }
    #openHeader {
        font-size: 20px;
    }
    .card {
        width: 28%;
        height: 50vh;
    }
    .linksHolder {
        visibility: hidden;
        transition: 0s;
    }
    #queryNav{
        visibility: visible;
        margin-top: -8%;
        color: white;
    }
    #queryBtn{
        color: rgba(65, 147, 224, 0.833);
    }
    #logo{
        margin-left: -50%;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:425px) {
    #nav {
        height: 8vh;
    }
    .linksHolder {
        visibility: hidden;
        transition: 0s;
    }
    #upDoc{
        width: 90%;
        height: 70%;
        margin-left: -12%;
    }
    #open {
        margin-top: 22%;
        height: 100%;
    }
    .openText{
        background-color: rgba(255, 255, 255, 0.001);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.001);
        font-size: 20px;
        width: 50%;
    }
    .card {
        width: 80%;
        margin-left: 8%;
        height: 60vh;
    }
    #queryNav{
        visibility: visible;
        margin-top: -20%;
        color: white;
    }
    #queryBtn{
        color: rgba(65, 147, 224, 0.833);
    }
} 
